/* Без box-sizing */

.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    /* цей дів менший так як немає заданих відступів */
}
  
.div2 {
    width: 300px;
    height: 100px;  
    padding: 50px;
    border: 1px solid red;
    /* цей дів більший так як має заданий padding */
}

/* З box-sizing */
.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    /* елементи будуть одинакові */
}
  
.div2 {
    width: 300px;
    height: 100px;  
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
    /* елементи будуть одинакові */
}