/* зникнення в тексті */
.container {
    position: relative;
    width: 50%;
}
  
.image {
    display: block;
    width: 50%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Поява прозорості разом із кнопкою по середині */

.container2 {
    position: relative;
    width: 50%;
  }
  
.image2 {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.container2:hover .image2 {
    opacity: 0.3;
}
  
.container2:hover .middle {
    opacity: 1;
}
  
.text2 {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* Слайд зверху вниз */
.container3 {
    position: relative;
    width: 50%;
}
  
.image3 {
    display: block;
    width: 50%;
    height: auto;
}
  
.overlay3 {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
}
  
.container3:hover .overlay3 {
    bottom: 0;
    height: 100%;
}
  
.text3 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Слайд зверху вниз */
.container4 {
    position: relative;
    width: 50%;
}
  
.image4 {
    display: block;
    width: 50%;
    height: auto;
}
  
.overlay4 {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
}
  
.container4:hover .overlay4 {
    top: 0;
    height: 100%;
}
  
.text4 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Слайд з ліва в право */
.container5 {
    position: relative;
    width: 50%;
}
  
.image5 {
    display: block;
    width: 50%;
    height: auto;
}
  
.overlay5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container5:hover .overlay5 {
    width: 50%;
}
  
.text5 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Слайд з права в ліво */
.container6 {
    position: relative;
    width: 50%;
}
  
.image6 {
    display: block;
    width: 50%;
    height: auto;
}
  
.overlay6 {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.container6:hover .overlay6 {
    width: 50%;
    left: 0;
}
  
.text6 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
