/* розділення тексту на кілька стовпців */
.newspaper {
  column-count: 4;
  column-gap: 30px; /* задаємо проміжок між кількома стовпцями */
  column-rule-style: solid; /* створюємо бокові бордери між стовпцями */
  column-rule-width: 1px; /* визначаємо товщину бокових бордерів між стовпцями */
  column-rule-color: lightblue; /* колір бокових бордерів */

  /* скорочений варіант: column-rule: 1px solid lightblue; */
}

h2 {
    column-span: all; /* задаємо властивість та значення окремому елементу який буду охоплювати всі стовпці */
}

/* розділення тексту на стовпці по ширині */
.newspaper-1 {
  column-width: 300px;
}