
/* задаємо властивості стилю для рамки */
.img {
    width: 100px;
    border: 17px solid transparent; /* тут прописуємо товщину рамки, виміряної за допомогою лінійки в графічному редакторі */
    border-image: url(./img/mini.png) round;
    border-image-slice: 47;
    /* тут із цифровою потрібно побавитися, так як дане значення розділяє по ширині графічну видимість повторень піделементів рамки. Потрібно обрати таке значення щоб усі під елементи фактично злились у суцільну гаммму */
    text-align: center;
}

/* те саме тільки використовуємо імедж, потрібно збільшити width */
.img-2 {
    width: 400px;
    height: 300px;
    border: 20px solid transparent;
    border-image: url(./img/mini.png) 47 round; /* 47 це slice */
    border-image-width: 59px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

/* тут просто використовуємо повністю від редагований імедж файл з графічного редактора */
.img-3 {
    width: 1000px;
    height: 800px;
}