:root { /* це глобальні зміни у всьому документі */
    --blue: #1e90ff;
    --white: #ffffff; /* задаємо правило для подальшого застосування в змінних */
}
  
body {
    background-color: var(--blue); /* використовуємо змінну для визначення кольору */
}
  
h2 {
    border-bottom: 2px solid var(--blue); /* використовуємо змінну для визначення кольору */
}
  
.container {
    color: var(--blue); /* використовуємо змінну для визначення кольору */
    background-color: var(--white); /* використовуємо змінну для визначення кольору */
    padding: 15px;
}
  
button {
    background-color: var(--white); /* використовуємо змінну для визначення кольору */
    color: var(--blue); /* використовуємо змінну для визначення кольору */
    border: 1px solid var(--blue); /* використовуємо змінну для визначення кольору */
    padding: 5px;
}